body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #222;
}

div {
    width: 500px;
    /* height: 500px; */
    border: 5px solid #fff;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

img:hover {
    transform: scale(1.2) rotate(9deg);
}